.g-photo{
	width: 100%;
	height: 100%;
	background: #eee;
}
.g-photo section.swiper-container{
	padding-top: 0.8rem;
	width: 100%;
	height: calc(100% - 0.8rem);
}
.g-photo section.swiper-container img{
	width: 100%;
	height: 100%;
}
#prev_btn{
	width: 0.6rem;
	height: 1rem;
	background-image: url(../images/photo_left.png);
	left: 0;
}
#next_btn{
	width: 0.6rem;
	height: 1rem;
	background-image: url(../images/photo_right.png);
	right: 0;
}