.every {
    font-size: .30rem;
    color: #333;
    padding-top: .88rem;
    height: .70rem;
    line-height: .70rem;
    text-align: center;
}
.xiang{
	font-size: .30rem;
    color: #333;
    margin-bottom: .2rem;
	text-align: center;
}
.item_lists{padding-top: .4rem;padding-bottom: .5rem;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.select{width: 3.68rem;line-height: .56rem;padding: .2rem .12rem;border: 1px solid #9cf;
    font-size: .24rem;color: #0780ec;}
.mar_btm50{margin-bottom: .5rem;}
.mar_btm30{margin-bottom: .3rem;}
.flo_left{float: left;}
.p_right{float: left;}
.mar_left160{margin-left: 1.6rem;}
.effecfDay{width: 3.68rem;line-height: .56rem;padding: .2rem .12rem;border: 1px solid #9cf;font-size: .24rem;}
.describ{width: 3.68rem;height: 1.46rem;border: 1px solid #9cf;padding: .2rem .12rem;line-height: 1.2em;
    font-size: .24rem;color: #999;resize:none;box-shadow: inset 1px 2px 0 3px #ccc;}
.intro{height: 1.16rem;line-height: 1.16rem;background: #fff;margin-top: .26rem;border-top: 1px solid #ccc;}
.pics{margin: 0 .3rem .6rem .3rem;}
.pic{float: left;width: 30%;margin-bottom: .38rem;position: relative;}
.pic:nth-of-type(3n-1){margin-left: 5%;margin-right: 5%;}
#camera {
    width: 30%;
    float: left;
    height: 2.03rem;
    padding: 0;
    position: relative;
    overflow: hidden;
}
#camera img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#camera input {
    opacity: 0;
    width: 100%;
    font-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.pic img{width: 100%;height: 2.03rem;}
.del_pic{position: absolute;top: -.255rem;right: -.255rem;width: .51rem;height: .51rem;background: url(../images/del_pic.png);background-size: .51rem;}
.bor_btm{border-bottom: 1px solid #ccc;}
.tit_div{padding-bottom: .24rem;border-bottom: 1px solid #ccc;margin-bottom: .2rem;}
.see{float: right;margin-right: .3rem;}

.pad_top24{padding-top: .24rem;}
.pad_btm24{padding-bottom: .24rem;}
.pad_left30{padding-left: .3rem;}
.spanRgt{text-align: right;width: 26%;display: inline-block;}
.overflow{overflow: hidden;}
.col_ce0f0f{color: #ce0f0f;}
.tip{width: 3.68rem;
    /*line-height: .56rem;*/
    padding: .2rem .12rem;
    box-sizing: border-box;
    border: 1px solid #9cf;
    font-size: .24rem;}

.subBtn {
    display: block;
    width: 3.3rem;
    height: .7rem;
    line-height: .7rem;
    color: #fff;
    text-align: center;
    background: #ff9800;
    font-size: .28rem;
    border-radius: .35rem;
    margin: .76rem auto;
}
.col_c20707{color: #c20707;}
.tipImg{width: .28rem;height: .29rem;vertical-align: -4px;}
.pad_left26{padding-left: 26%;}