.pad_top112{padding-top: 1.12rem;}
.tit-wrap{height: .8rem;line-height: .8rem;border-top: 1px solid #eaeaea;border-bottom: 1px solid #dddddd;padding-left: .3rem;}
.tit-p{font-size: .3rem;color: #7d8182;padding-left: .15rem;border-left: 3px solid #0780ec;}
.pad_top24{padding-top: .24rem;}
.pad_top28{padding-top: .28rem;}
.pad_btm24{padding-bottom: .24rem;}
.border_btm_lgt{border-bottom: 1px solid #eaeaea;}
.mar_btm300{margin-bottom: 300px;}