.total{position: absolute;top: .88rem;left: 0;background: #f6f6f6;width: 100%;box-sizing: border-box;}
.item-tit{margin-top: .24rem;margin-bottom: .14rem;padding-left: .3rem;}
.text-tit{font-size: .3rem;color: #0780ec;padding-left: .14rem;border-left: 3px solid #0780ec;}
.item{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-top: .3rem;
    position: relative;
    margin-bottom: .24rem;}
.mar_btm24{margin-bottom: .24rem;}
.pad_btm24{padding-bottom: .24rem;}
.pad_btm90{padding-bottom: .9rem;}
.pad_rgt3{padding-right: .3rem;}
.pad_left3{padding-left: .3rem}
.pad_rgt6{padding-right: .6rem;}
.mar_top24{margin-top: .24rem;}
.fl_left{float: left;}
.mar_btm300{margin-bottom: 300px;}
.item p{overflow: hidden;}


.order-none .img-wrapper{width: 3.44rem;height: 3.44rem;margin: 40% auto;background: url(../images/no-order.png);
	background-size: 3.44rem;position: relative;}
.order-none .tips{font-size: .34rem;position: absolute;bottom: .34rem;text-align: center;width: 100%;}

.report-tit{padding-top: .24rem;padding-bottom: .14rem;padding-left: .3rem;}
.col_cred{color: #c70909;}
.photo-see{display: block;width: 100%;background: url(../images/right_btn.png) no-repeat;
	background-position: 98% center;background-size: .16rem .27rem;}
.dot_line{border-bottom: 1px dotted #e1e1e1;}
.check-item{line-height: .6rem;padding-left: .2rem;}
.tit-blue{font-size: .28rem;color: #0780ec;height: .6rem;line-height: .6rem;padding-left: .2rem;}
.border_t{border-top: 1px solid #ddd;}
.border_b{border-bottom: 1px solid #ddd;}
.rgt_align{text-align: right;}
.rgt_bg{background: url(../images/right_btn.png) no-repeat;
    background-position: right center;background-size: .16rem .27rem;}
.block{display: block;}

.mask,.mask1{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9;background: rgba(0,0,0,.5);}
.box{margin-left: .6rem;margin-right: .6rem;border-radius: .1rem;margin-top: 30%;}
.tit_mask{line-height: 1rem;border-bottom: 1px solid #e5e5e5;box-sizing: border-box;text-align: center;font-weight: bold;}
.small_tit{font-size: .28rem;color: #ff9800;margin-top: .4rem;padding-left: .3rem;}
.shut_btn{display: block;border-top: 1px solid #e5e5e5;color: #0780ec;
    font-size: .32rem;height: 1rem;line-height: 1rem;text-align: center;}
.mask-content{height: 30%;overflow-y: scroll;}