body, html {
    width: 100%;
    height: 100%;
    background: #f6f6f6
}

.section {
    padding-top: .88rem;
    font-size: .3rem
}

.section h3 {
    line-height: .9rem;
    background: #fff;
    text-align: center;
    color: #0780ec;
    margin-bottom: .27rem;
    border-bottom: #d5d5d5 solid 1px
}

.section h3 span {
    color: #ff7f00
}

.section .list {
    background: #fff;
    margin-bottom: .3rem;
    padding-left: .32rem
}

.section .list h2 {
    line-height: 1rem;
    width: 100%;
    padding-left: .62rem;
    font-size: .3rem;
    color: #333;
    position: relative;
    margin-bottom: .1rem
}

.section .list h2:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: #aeaeae solid 1px;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5)
}

.section .list h2 i {
    line-height: 1rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.22rem;
    width: .44rem;
    height: .44rem
}

.section .list h2 span {
    float: right;
    margin-right: .26rem;
    vertical-align: middle;
    color: grey
}

.section .list h2 span em {
    margin-left: .1rem;
    vertical-align: middle;
    display: inline-block;
    width: .4rem;
    height: .29rem;
    background: url(../../images/backlog1.png) no-repeat;
    background-size: 100% 100%
}

.section .list h2 span .em_sel {
    background: url(../../images/backlog2.png) no-repeat;
    background-size: 100% 100%
}

.section .list h2 .img1 {
    background: url(../../images/Invoice.png) no-repeat;
    background-size: 100% 100%
}

.section .list h2 .img2 {
    background: url(../../images/Wallet.png) no-repeat;
    background-size: 100% 100%
}

.section .list .todo_list {
    display: none
}

.section .list .todo_infos {
    position: relative;
    color: #666;
    font-size: .3rem;
    margin-left: .45rem;
    border-bottom: #d8d7d7 solid 1px;
    box-sizing: border-box;
    padding: .1rem 0;
}

.section .list .todo_infos:last-child {
    border-bottom: 0;
    padding-bottom: .2rem
}

.section .list .todo_infos .infos {
    padding: .12rem 1.2rem .12rem 0;
    line-height: .24rem
}

.section .list .todo_infos .infos .name {
    display: inline-block;
    vertical-align: middle;
    width: 28%;
    float: left;
    margin-top: .1rem;
    text-align: right
}

.section .list .todo_infos .infos .address {
    vertical-align: middle;
    padding-left: 30%;
    width: 88%;
    line-height: .4rem
}

.section .list .todo_infos a {
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    right: .3rem;
    width: 1.29rem;
    height: .46rem;
    line-height: .46rem;
    text-align: center;
    border-radius: .4rem;
    border: #0780ec solid 1px;
    color: #0780ec;
    font-size: .24rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}