	.Page_back {
			float: right;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.Page_back .page_backBtn {
			border: 1px solid #1296db;
			background: #1296db;
			color: #fff;
			padding: 8px 20px;

		}
		.w44 {
			width: 44%;
		}
		.basic_contentAdd ul li:first-child {
			width: 40%;
		}
		.basic_contentAdd li {
			line-height: 36px;
		}

		.border-1px {
			border:1px solid #ccc;
		}
		.padding-6px {
			padding: 6px;
		}
		.col_blue {
			cursor: pointer;
		}
		.icon_arrow_down {
			background:url("icon_arrow_down.png") no-repeat;
			width: 24px;
			height: 24px;
			background-size: 100%;
			position: absolute;
			right: 12px;
			top: 8px;
		}
		.icon_arrow_up {
			background:url("icon_arrow_up.png") no-repeat;
			width: 24px;
			height: 24px;
			background-size: 100%;
			position: absolute;
			right: 12px;
			top: 8px;
		}
		.pos_r {
			position: relative;
		}
		.order_content h2{
			font-size: 20px;
			color: #1296db;
			margin: 20px 0;
		}
		.order_content{
			background: #f7f7f7;
			padding: 20px 38px;
			margin-top: 30px;
		}
		.style_hide_cont{
			display: none;
		}
		.tl {
			text-align: left;
		}
		.order_content table {
			text-align: center;
			width: 100%;

		}
		.order_content table td {
			border: 1px solid #ccc;
			font-size: 14px;
			padding: 10px 0;
			vertical-align: middle;
		}

		.order_content table thead th{
			border: 1px solid #ccc;
			font-size: 16px;
			font-weight: normal;
			padding: 10px 0;
		}
		.order_content table caption {
			margin-bottom: 10px;
		}
		.order_content_warp h2{
			font-size: 20px;
			color: #1296db;
			position: relative;
			padding-left: 4px
		}
		.order_top_info {
			width: 100%;
			font-size: 16px;
			margin-top: 30px;
			// padding-bottom: 20px;
			// position: fixed;
			// top:0;
			// left: 0;
			// height: 100px;
		}
		.order_top_info p  {
			display: inline-block;
			margin-right: 40px;
		}
		.order_top_info p input[type="button"] {
			outline: none;
			border: none;
			border-radius: 4px;
			padding:  4px 14px;
			background: #ccc;
			margin-right: 30px;
			color: #fff;
		}
		select {
			width: 120px;
			border: 1px solid #ccc;
		}