.align_center{text-align: center;}

.font0{font-size: 0;}
.font24{font-size: .24rem;}
.font28{font-size: .28rem;}
.font30{font-size: .3rem;}

.col_3{color: #333;}
.col_0780ec{color: #0780ec;}
.col_9{color: #999;}
.col_10{color: #101010;}
.col_c20e0e{color: #c20e0e;}
.pad_top24{padding-top: .24rem;}
.pad_btm24{padding-bottom: .24rem;}
.pad_top30{padding-top: .3rem;}
.pad_btm30{padding-bottom: .3rem;}
.pad_left30{padding-left: .3rem;}
.pad_rgt30{padding-right: .3rem;}
.pad_top88{padding-top: .88rem;}
.locate{text-align: center;}
.bor_btm_ccc{border-bottom: 1px solid #ccc;}
.bor_top_ea{border-top: 1px solid #eaeaea;}
.bor_btm_ea{border-bottom: 1px solid #eaeaea;}
.bg_f{background-color: #fff;}
.mar_btm26{margin-bottom: .26rem;}

.list span{float: left;}
.list p{overflow: hidden;}
.rela{position: relative;}
.seeBtn{float: right;}


.pl1em{padding-left: 1em;}
.pl3em{padding-left: 3em;}
.pl5em{padding-left: 5em;}

.bg_bo {
    background-color: #fff;
    background-image: url(../../img/common/bg_bo.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-bottom: .24rem;
}
.bor_top_ddd{border-top: 1px solid #ddd;}

._name{
width: 1.8rem;
padding-right: .1rem;
text-align:right;
}