.g-build_apply{
	width: 100%;
	height: 100%;
	background: #eee;
}
.g-build_apply header.build_apply_header{
	width: 100%;
	height: 0.8rem;
	background: #09f;
	position: fixed;
	z-index: 9;
}
.g-build_apply .back_btn{
	display: block;
	width: 0.2rem;
	height: 0.34rem;
	background-image: url(../images/back_icon.png);
	background-size: 0.2rem 0.34rem;
	position: absolute;
	left: 0.3rem;
	top: 0.23rem;
}
.g-build_apply h2.build_apply_title{
	text-align: center;
	color: #fff;
	font-size: 0.34rem;
	height: inherit;
	line-height: 0.8rem;
}
/*header ending*/
.g-build_apply > p{
	text-align: center;
}
.g-build_apply > p.every{
	font-size: .30rem;
	color: #333;
	padding-top: .80rem;
	height: .70rem;
	line-height: .70rem;
}
.g-build_apply > p.work_date{
	font-size: .26rem;
	color: #666;
	margin-bottom: .2rem;
}
.g-build_apply .build_apply_list ul{
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
	border-bottom-left-radius: .1rem;
	border-bottom-right-radius: .1rem;
	background: #fff;
}
.g-build_apply .build_apply_list ul li{
	font-size: .28rem;
	border-bottom: 1px solid #80bef5;
}
.g-build_apply .build_apply_list ul li:first-child{
	height: .76rem;
	line-height: .76rem;
	text-align: center;
	background: #9cccf7;
	/*color: #333;*/
	border-bottom: 0;
}
.g-build_apply .build_apply_list ul li:last-child{
	border-bottom: 0;
}
.g-build_apply .build_apply_list ul li > span{
	display: inline-block;
	box-sizing: border-box;
	height: .76rem;
	line-height: .76rem;
	text-align: center;
	border-right: 1px solid #80bef5;
	float: left;
	color: #666;
}
.g-build_apply .build_apply_list ul li:first-child > span{
	color: #333;
}
.g-build_apply .build_apply_list ul li > span:first-child{
	width: 37%;
}
.g-build_apply .build_apply_list ul li > span:nth-child(2){
	width: 40%;
}
.g-build_apply .build_apply_list ul li > span:last-child{
	width: 23%;
	border: 0;
}
.g-build_apply .build_apply_list ul li > span.over{
	color: #f86f1d;
}
.g-build_apply .build_apply_list ul li > span.apply{
	color: #0780ec;
}
.g-build_apply .build_apply_list{
	margin-bottom: .5rem;
}
