.g-photo{
	width: 100%;
	height: 100%;
	background: #eee;
}
.g-photo header.photo_header{
	width: 100%;
	height: 0.8rem;
	background: #09f;
	position: fixed;
	z-index: 9;
}
.g-photo .photo_back_btn{
	display: block;
	width: 0.2rem;
	height: 0.34rem;
	background-image: url(../images/back_icon.png);
	background-size: 0.2rem 0.34rem;
	position: absolute;
	left: 0.3rem;
	top: 0.23rem;
}
.g-photo h2.photo_title{
	text-align: center;
	color: #fff;
	font-size: 0.34rem;
	height: inherit;
	line-height: 0.8rem;
}
/*header ending*/
.g-photo section.swiper-container{
	padding-top: 0.8rem;
	width: 100%;
	height: calc(100% - 0.8rem);
}
.g-photo section.swiper-container img{
	width: 100%;
	height: 100%;
}
#prev_btn{
	width: 0.6rem;
	height: 1rem;
	background-image: url(../images/photo_left.png);
	left: 0;
}
#next_btn{
	width: 0.6rem;
	height: 1rem;
	background-image: url(../images/photo_right.png);
	right: 0;
}