body{background: #fff;}
.g-recheck{background: #fff;}
.bg_f{background: #fff;position: absolute;top: .8rem;width: 100%;}
.blue_rnd{
	height: 0.8rem;
	line-height: 0.8rem;
	background-image: url(../images/details_icon.png);
	background-repeat: no-repeat;
	background-position: 0.2rem center;
	background-size: 0.2rem 0.2rem;
	font-size: 0.3rem;
	font-weight: bold;
	color: #333;
	padding-left: 0.5rem;
}
.inputs{
	padding-top: .2rem;
	padding-bottom: .2rem;
	margin-left: .5rem;
	border-top: 1px solid #ccc;
}
.inputs li{
	line-height: .6rem;
	font-size: 0;
}
.left{
	float: left;
	font-size: .28rem;
	color: #666;
	height: .46rem;
	line-height: .46rem;
}
.right{
	/*overflow: hidden;*/
}
#txtBeginDate{
	width: 3.18rem;
    height: 0.46rem;
    line-height: .46rem;
    padding: .05rem .12rem;
    box-sizing: border-box;
    border: 1px solid #9cf;
    border-radius: 0.1rem;
    background-image: url(../images/canlender.png);
    background-repeat: no-repeat;
    background-size: .3rem .32rem;
    background-position: 2.7rem center;
    color: #999;
    font-size: .24rem;
}
select{
	width: 3.18rem;
	height: .46rem;
	border: 1px solid #bebebe;
    box-sizing: border-box;
    font-size: .24rem;
    color: #0780ec;
}
option{
	width: 3.18rem;
	border: none;
	border: 1px solid #bebebe;
    box-sizing: border-box;
    font-size: .24rem;
    color: #999;
}
textarea{
	width: 3.18rem;
    height: 1.08rem;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #9cf;
    border-radius: 0.1rem;
    padding: 0.1rem;
    color: #333;
    line-height: 1.3em;
    font-size: .24rem;
    color: #999;
}
.photo_sec{
	border-top: 1px solid #ccc;
	padding: .3rem .1rem;
}
#camera{
	width: 33%;
    float: left;
    height: 2.8rem;
    padding: 0;
    position: relative;
    overflow: hidden;
    margin-right: .5%;
}
.up{
	width: 100%;
	height: 100%;
}
.pic:nth-of-type(3n){
	margin-right: 0;
}
#camera input{
	opacity: 0;
    width: 100%;
	height: 100%;
    font-size: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.pic{
	width: 33%;
	float: left;
	padding: 0;
	position: relative;
	overflow: hidden;
	margin-right: .5%;
}
.pic img{
	width: 100%;
}
.delBtn{
	display: block;
	font-size: .28rem;
	color: #0780ec;
	border: 1px solid #0780ec;
	margin: .32rem auto .40rem;
	line-height: .42rem;
	width: 46%;
	text-align: center;
}
footer{
	width: 100%;
	height: .86rem;
	background: #1e8bec;
	position: fixed;
	bottom: 0;
}
.subBtn{
	display: block;
	width: 100%;
	height: inherit;
	line-height: .86rem;
	text-align: center;
	font-size: .28rem;
	color: #fff;
	z-index: 9;
}