.mar_btm30{margin-bottom: .3rem;}
.col_5{color: #555;}
.wrt{line-height: .72rem;width: 5.1rem;text-indent: 1em;font-size: .3rem;color: #444242;}
.bor_eb{border: 1px solid #ebebeb;}
.wrt_area{width: 5.1rem;height: 1.2rem;line-height: 1.3em;resize: none;text-indent: 1em;padding: .1rem;box-sizing: border-box;}
.destiny{display: block;width: 2.14rem;line-height: .52rem;font-size: .2376rem;color: #0780ec;border: 1px solid #0780ec;
	border-radius: .26rem;text-align: center;margin-left: 1.4rem;margin-top: .16rem;margin-bottom: .34rem;}
.sub{display: block;width: 53%;line-height: .62rem;font-size: .3rem;color: #fff;background: #ff9800;margin: .9rem auto;
	border-radius: .31rem;text-align: center;}
.line_hgt12{line-height: 1.2rem;}

.tip-p{line-height:1.6em;letter-spacing: .16em;}
.col_f91b0a{color:#f91b0a;}