.pt25{padding-top: .25rem;}
.pt34{padding-top: .34rem;}
.pb34{padding-bottom: .34rem;}
.pb35{padding-bottom: .35rem;}
.pl30{padding-left: .3rem;}
.mb30{margin-bottom: .3rem;}
.bor_dash{border-bottom: 1px dashed #ddd;}
.ml30{margin-left: .3rem;}
.mr30{margin-right: .3rem;}
.indent2{text-indent: 2em;}
.col_378afa{color: #378afa;}
.bor_btm_ddd{border-bottom: 1px solid #ddd;}