<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>任务包详情</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../css/budget.css"/>
</head>
<body>
	<div class="g-budget">
		<header class="budget_header">
			<a id="back_btn"  onclick="myhistory.back()" href="javascript:void(0)"></a>
			<h2 class="budget_title">任务包详情</h2>
		</header><!-- /header -->
		<section class="budget_section">
			<h3>任务包信息</h3>
			<ul>
				<li class="clearfix">
					<span>任务包名称：</span>
					<p>泥瓦工程</p>
				</li>
				<li class="clearfix">
					<span>预算总价（含辅料）：</span>
					<p>8000元</p>
				</li>
				<li class="clearfix">
					<span>要求工期：</span>
					<p>2016-6-20至2016-6-25</p>
				</li>
				<li class="clearfix">
					<span>施工地点：</span>
					<p>北京市-市辖区-海淀区-中建国际港-4号
                       楼-1单元-2903-付峥</p>
				</li>
				<li class="clearfix">
					<span>施工人员：</span>
					<p>张三丰-13811002233</p>
				</li>
				<a id="tele" href="javascript:void(0)"></a>
			</ul>
		</section>
		<h3>工序工价</h3>
		<div class="budget_details">
			<p>1、管道包封【施工】</p>
			<table>
				<tbody>
					<tr>
						<td>价格</td>
						<td>230元/处*2=460元</td>
					</tr>
					<tr>
						<td>工序内容</td>
						<td>5公分轻体砖砂浆砌筑，含挂钢丝网、抹灰及管道降噪处理。</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="budget_details">
			<p>2、水泥砂浆基地面找平【施工】</p>
			<table>
				<tbody>
					<tr>
						<td>价格</td>
						<td>38元/处*20=760元</td>
					</tr>
					<tr>
						<td>工序内容</td>
						<td>以厚度≦40mm计；平整度≦2mm。</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="../js/lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/utils/calcRootFontSize.js"></script>
	<script type="text/javascript" src="../js/utils/history.js"></script>
</body>
</html>