<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>订单详情</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../css/details.css"/>
</head>
<body>
	<div class="g-details">
		<header class="details_header">
			<a id="details_back_btn" href="myorder.html" onclick="myhistory.back()"></a>
			<h2 class="details_title">订单详情</h2>
		</header><!-- /header -->
		<section class="order_list">
			<h3>客户信息</h3>
			<ul>
				<li class="clearfix">
					<span>合同编号：</span>
					<p>1111</p>
				</li>
				<li class="clearfix">
					<span>客户姓名：</span>
					<p>张三丰</p>
				</li>
				<li class="clearfix">
					<span>客户手机：</span>
					<p>15236548526</p>
				</li>
				<li class="clearfix">
					<span>订单状态：</span>
					<p class="col_blue">施工中</p>
				</li>
			</ul>
			<h3>房屋信息</h3>
			<ul>
				<li class="clearfix">
					<span>施工地址：</span>
					<p>北京市-西城区-香港大道6号</p>
				</li>
				<li class="clearfix">
					<span>小区名称：</span>
					<p>白云路西里</p>
				</li>
				<li class="clearfix">
					<span>门 牌 号：</span>
					<p>15号楼-1单元-1208室</p>
				</li>
				<li class="clearfix">
					<span>房屋户型：</span>
					<p>三居室</p>
				</li>
				<li class="clearfix">
					<span>合同面积：</span>
					<p>138.56平米</p>
				</li>
			</ul>
			<h3>施工信息</h3>
			<ul class="mb20">
				<li class="clearfix">
					<span>合同开工日期：</span>
					<p>2016-07-01</p>
				</li>
				<li class="clearfix">
					<span>合同竣工日期：</span>
					<p>2016-10-01</p>
				</li>
				<li class="clearfix">
					<span>合 同 工 期 ：</span>
					<p>90天</p>
				</li>
				<li class="clearfix">
					<span>实际开工日期：</span>
					<p>2016-07-05</p>
				</li>
				<li class="clearfix">
					<span>实际竣工日期：</span>
					<p>2016-10-20</p>
				</li>
			</ul>
		</section>
	</div>
	<script type="text/javascript" src="../js/utils/calcRootFontSize.js"></script>
	<script type="text/javascript" src="../js/utils/history.js"></script>
</body>
</html>