<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../css/info.css"/>
</head>
<body>
	<div class="g_info">
		<div class="top"></div>
		<div class="user_info">
			<img src="../images/headimg.png" alt="headimg">
			<span class="user_name">张三丰</span>
			<span class="eng_name">zhangsanfeng</span>
			<div class="star">
				<span class="bling"></span>
				<span class="bling"></span>
				<span class="bling"></span>
				<span class="bling"></span>
				<span></span>
			</div>
		</div>
		<nav class="info_nav">
			<a href="javascript:void(0)">
				<span class="number">5</span>
				<span class="explain">在施工数</span>
			</a>
			<a href="javascript:void(0)">
				<span class="number">10</span>
				<span class="explain">总订单数</span>
			</a>
			<a href="javascript:void(0)">
				<span class="number">3</span>
				<span class="explain">本月排行</span>
			</a>
		</nav>
		<ul class="info_ul">
			<li><a href="task_query.html">任务包查询</a></li>
			<li><a href="javascript:void(0)">进度管理</a></li>
			<li><a href="myorder.html">我的订单</a></li>
		</ul>
	</div>
	<script type="text/javascript" src="../js/utils/calcRootFontSize.js"></script>
</body>
</html>