<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>确认开工</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../css/start.css"/>
</head>
<body>
	<div class="g-start">
		<header class="start_header">
			<a id="back_btn" onclick="myhistory.back()" href="javascript:void(0)"></a>
			<h2 class="start_title">确认开工</h2>
		</header><!-- /header -->
		<section class="start_section">
			<h3>鹿港嘉苑-10-3-2001-张三</h3>
			<ul>
				<li class="clearfix">
					<span>开工合同日期：</span>
					<p>2016-08-01</p>
				</li>
				<li class="clearfix">
					<span>实际开工日期：</span>
					<p><input type="date" name="date" value="2016-08-01" placeholder=""></p>
				</li>
				<li class="clearfix">
					<span>开工延期类型：</span>
					<p>
						<input type="radio" name="" value="">公司原因
						<input type="radio" name="" value="">客户原因
					</p>
				</li>
				<li class="clearfix">
					<span>开工延期说明：</span>
					<p><textarea name=""></textarea></p>
				</li>
				<a id="start" href="javascript:void(0)"></a>
			</ul>
		</section>
	</div>
	<script type="text/javascript" src="../js/lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/utils/calcRootFontSize.js"></script>
	<script type="text/javascript" src="../js/utils/history.js"></script>
</body>
</html>