<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>任务包查询</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../css/task_query.css"/>
</head>
<body>
	<div class="g_task_query">
		<header class="task_header">
			<a id="back_btn" href="index.html" onclick="myhistory.back()" href="javascript:void(0)"></a>
			<h2 class="task_query_title">任务包查询</h2>
		</header><!-- /header -->
		<!--title怎么写？？？-->
		<nav class="task_nav clearfix">
			<a class="nav_a" href="javascript:void(0);">
				<span>任务包名称</span>
				<img src="../images/down_btn.png" height="8" width="12" alt="btn">
			</a>
			<a class="nav_a" href="javascript:void(0);">
				<span>全部状态</span>				
				<img src="../images/down_btn.png" height="8" width="12" alt="btn">
			</a>
			<a class="nav_a" href="javascript:void(0);">
				<span>综合排序</span>				
				<img src="../images/down_btn.png" height="8" width="12" alt="btn">
			</a>
			<div class="options undis">
				<a href="javascript:void(0);">铲墙皮任务包</a>
				<a href="javascript:void(0);">水电任务包</a>
				<a href="javascript:void(0);">瓦工任务包</a>
				<a href="javascript:void(0);">木工任务包</a>
				<a href="javascript:void(0);">油工任务包</a>
			</div>
			<div class="options undis">
				<a href="javascript:void(0);">铲墙皮任务包2</a>
				<a href="javascript:void(0);">水电任务包2</a>
				<a href="javascript:void(0);">瓦工任务包2</a>
				<a href="javascript:void(0);">木工任务包2</a>
				<a href="javascript:void(0);">油工任务包2</a>
			</div>
			<div class="options undis">
				<a href="javascript:void(0);">铲墙皮任务包3</a>
				<a href="javascript:void(0);">水电任务包3</a>
				<a href="javascript:void(0);">瓦工任务包3</a>
				<a href="javascript:void(0);">木工任务包3</a>
				<a href="javascript:void(0);">油工任务包3</a>
			</div>
		</nav>
		<section class="task_list">
			<a href="javascript:void(0);" class="task_query_section clearfix">
				<ul>
					<li class="clearfix">
						<span>顾客信息：</span>
						<p>鹿港嘉苑-10-3-2001-张三</p>
					</li>
					<li class="clearfix">
						<span>开工日期：</span>
						<p>2016-07-30</p>
					</li>
					<li class="clearfix">
						<span>完成日期：</span>
						<p>2016-08-03</p>
					</li>
					<li class="clearfix">
						<span>当前状态：</span>
						<p>调度审核通过</p>
					</li>
				</ul>
				<span class="task_work">铲墙皮</span>
			</a>
			<a href="javascript:void(0);" class="task_query_section clearfix">
				<ul>
					<li class="clearfix">
						<span>顾客信息：</span>
						<p>鹿港嘉苑鹿港嘉苑鹿港嘉苑-10-3-2001-张三</p>
					</li>
					<li class="clearfix">
						<span>开工日期：</span>
						<p>2016-07-30</p>
					</li>
					<li class="clearfix">
						<span>完成日期：</span>
						<p>2016-08-03</p>
					</li>
					<li class="clearfix">
						<span>当前状态：</span>
						<p>调度审核通过</p>
					</li>
				</ul>
				<span class="task_work">铲墙皮</span>
			</a>
			<a href="javascript:void(0);" class="task_query_section clearfix">
				<ul>
					<li class="clearfix">
						<span>顾客信息：</span>
						<p>鹿港嘉苑鹿港嘉苑鹿港嘉苑-10-3-2001-张三</p>
					</li>
					<li class="clearfix">
						<span>开工日期：</span>
						<p>2016-07-30</p>
					</li>
					<li class="clearfix">
						<span>完成日期：</span>
						<p>2016-08-03</p>
					</li>
					<li class="clearfix">
						<span>当前状态：</span>
						<p>调度审核通过</p>
					</li>
				</ul>
				<span class="task_work">铲墙皮</span>
			</a>
			<a href="javascript:void(0);" class="task_query_section clearfix">
				<ul>
					<li class="clearfix">
						<span>顾客信息：</span>
						<p>鹿港嘉苑鹿港嘉苑鹿港嘉苑-10-3-2001-张三</p>
					</li>
					<li class="clearfix">
						<span>开工日期：</span>
						<p>2016-07-30</p>
					</li>
					<li class="clearfix">
						<span>完成日期：</span>
						<p>2016-08-03</p>
					</li>
					<li class="clearfix">
						<span>当前状态：</span>
						<p>调度审核通过</p>
					</li>
				</ul>
				<span class="task_work">铲墙皮</span>
			</a>
			
		</section>
	</div>
	<script type="text/javascript" src="../js/lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/utils/calcRootFontSize.js"></script>
	<script type="text/javascript" src="../js/utils/history.js"></script>
	<script type="text/javascript" src="../js/home/task_query.js"></script>
</body>
</html>