.fastSec{width: 33.3%;float: left;text-align: center;}
.border-center{box-sizing: border-box;border-left: 1px solid #eee;border-right: 1px solid #eee;}

.fastPng{width: 1.15rem;height: 1.15rem;}
.list-line{height: .98rem;display: block;}
.list-text{
    float: left;
    margin-left: 12%;
    width: 88%;
    height: inherit;
    line-height: 0.98rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    background-image: url(../../img/firstPage/rightArrow.png);
    background-repeat: no-repeat;
    background-size: 0.16rem 0.27rem;
    background-position: 94% center;
    font-size: .3rem;
    color: #666;
}
.one_mert{background-image: url(../../img/firstPage/first-goods.png);background-repeat: no-repeat;
    background-size: 0.46rem 0.41rem;background-position: 4% center;}
.one_prog{background-image: url(../../img/firstPage/first-progress.png);background-repeat: no-repeat;
    background-size: 0.44rem 0.42rem;background-position: 4% center;}
.one_task{background-image: url(../../img/firstPage/first-task.png);background-repeat: no-repeat;
    background-size: 0.44rem 0.43rem;background-position: 4% center;}
.one_qual{background-image: url(../../img/firstPage/first-quality.png);background-repeat: no-repeat;
    background-size: 0.47rem 0.46rem;background-position: 4% center;}
.one_proj{background-image: url(../../img/firstPage/first-project.png);background-repeat: no-repeat;
    background-size: 0.44rem 0.43rem;background-position: 4% center;}
.one_chan{background-image: url(../../img/firstPage/first-change.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.47rem;background-position: 4% center;}
.one_sala{background-image: url(../../img/firstPage/first-salary.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.43rem;background-position: 4% center;}
.one_retu{background-image: url(../../img/firstPage/first-return.png);background-repeat: no-repeat;
    background-size: 0.42rem 0.42rem;background-position: 4% center;}


/*meterialIndex*/
.mert_auxi{background-image: url(../../img/metri/auxi.png);background-repeat: no-repeat;
    background-size: 0.45rem 0.43rem;background-position: 4% center;}
.mert_wall{background-image: url(../../img/metri/wall.png);background-repeat: no-repeat;
    background-size: 0.44rem 0.42rem;background-position: 4% center;}
.mert_switch{background-image: url(../../img/metri/switch.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.43rem;background-position: 4% center;}
.mert_biao{background-image: url(../../img/metri/metriStard.png);background-repeat: no-repeat;
    background-size: 0.44rem 0.44rem;background-position: 4% center;}
.mert_sand{background-image: url(../../img/metri/sand.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.44rem;background-position: 4% center;}
.mert_goods{background-image: url(../../img/metri/goods-get.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.39rem;background-position: 4% center;}
.mert_record{background-image: url(../../img/metri/goods-record.png);background-repeat: no-repeat;
    background-size: 0.44rem 0.41rem;background-position: 4% center;}

/*task*/
.task_plan{background-image: url(../../img/task/task-plan.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.48rem;background-position: 4% center;}
.task_query{background-image: url(../../img/task/task-query.png);background-repeat: no-repeat;
    background-size: 0.39rem 0.5rem;background-position: 4% center;}
.task_salary{background-image: url(../../img/task/task-salary.png);background-repeat: no-repeat;
    background-size: 0.47rem 0.46rem;background-position: 4% center;}
.task_excel{background-image: url(../../img/task/task-excel.png);background-repeat: no-repeat;
    background-size: 0.46rem 0.43rem;background-position: 4% center;}
.task_pic{background-image: url(../../img/task/task-pic.png);background-repeat: no-repeat;
    background-size: 0.46rem 0.45rem;background-position: 4% center;}


/*progress*/
.pro_jiaodi{background-image: url(../../img/progress/jiaodi.png);background-repeat: no-repeat;
    background-size: 0.33rem 0.32rem;background-position: 4% center;}
.pro_chi1{background-image: url(../../img/progress/fuchi1.png);background-repeat: no-repeat;
    background-size: 0.32rem 0.28rem;background-position: 4% center;}
.pro_chi2{background-image: url(../../img/progress/fuchi2.png);background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;background-position: 4% center;}
.pro_start{background-image: url(../../img/progress/start.png);background-repeat: no-repeat;
    background-size: 0.33rem 0.32rem;background-position: 4% center;}
.pro_sign{background-image: url(../../img/progress/sign.png);background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;background-position: 4% center;}
.pro_tongbao{background-image: url(../../img/progress/tongbao.png);background-repeat: no-repeat;
    background-size: 0.28rem 0.32rem;background-position: 4% center;}
.pro_an{background-image: url(../../img/progress/anzhuang.png);background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;background-position: 4% center;}
.pro_finish{background-image: url(../../img/progress/finish.png);background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;background-position: 4% center;}

/*change*/
.chan_change{background-image: url(../../img/change/change.png);background-repeat: no-repeat;
    background-size: 0.47rem 0.47rem;background-position: 4% center;}

/*budget*/
.bud_self{background-image: url(../../img/budget/bud-self.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.39rem;background-position: 4% center;}
.bud_order{background-image: url(../../img/budget/bud-order.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.44rem;background-position: 4% center;}
.bud_month{background-image: url(../../img/budget/bud-month.png);background-repeat: no-repeat;
    background-size: 0.42rem 0.44rem;background-position: 4% center;}
.bud_guar{background-image: url(../../img/budget/bud-guar.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.45rem;background-position: 4% center;}
.bud_ori{background-image: url(../../img/budget/bud-ori.png);background-repeat: no-repeat;
    background-size: 0.42rem 0.4rem;background-position: 4% center;}


/*quality*/
.qual_date{background-image: url(../../img/quality/date.png);background-repeat: no-repeat;
    background-size: 0.47rem 0.47rem;background-position: 4% center;}
.qual_again{background-image: url(../../img/quality/again.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.45rem;background-position: 4% center;}
.qual_report{background-image: url(../../img/quality/report.png);background-repeat: no-repeat;
    background-size: 0.43rem 0.45rem;background-position: 4% center;}


.return_brod{background-image: url(../../img/return/return.png);background-repeat: no-repeat;
    background-size: 0.38rem 0.36rem;background-position: 4% center;}
.return_reco{background-image: url(../../img/return/return-record.png);background-repeat: no-repeat;
    background-size: 0.37rem 0.37rem;background-position: 4% center;}



