.col_0780ec{color: #0780ec;}
.col_7f7f7f{color: #7f7f7f;}
.mar_left35{margin-left: .35rem;}
.blueBar{border-left: 5px solid #0780ec;}
.pad_left18{padding-left: .18rem;}
.mar_top32{margin-top: .32rem;}
.mar_btm10{margin-bottom: .1rem;}
.pad_top40{padding-top: .4rem;}
.pad_btm40{padding-bottom: .4rem;}
.pad_left60{padding-left: .6rem;}
.bor_top{border-top: 1px solid #e9e8e8;}
.bor_btm{border-bottom: 1px solid #dedede;}
.see-more{font-size: .3rem;color: #0780ec;position: absolute;right: .3rem;}
.tele-icon{background: url(../../img/task/tel.png);display: inline-block;width: .32rem;height: .31rem;
	background-size: .32rem .31rem;margin-left: .34rem;margin-right: .18rem;vertical-align: -4px;}
.left-cell{width: 24%;float: left;text-align: center;}
.rgt-cell{width: 76%;float: left;text-align: center;border-left: 1px solid #e9e8e8;box-sizing: border-box;}
.pad_left4{padding-left: .4rem;}
.pad_rgt4{padding-right: .4rem;}
.col_6d6d6d{color: #6d6d6d;}
.pad_top32{padding-top: .32rem;}
.pad_btm20{padding-bottom: .2rem;}
.pad_btm100{padding-bottom: 1rem;}