 .accessories {
	font-size: .3rem;
	color:#7f7f7f;
	padding-top:0.88rem;

}
i {
	font-style: normal;
}
.accessories section ul {
	background: #fff;
	margin-top: 0.24rem;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0.2rem;
	padding:0.2rem 0;
}
.accessories section ul li  {
	padding: 0 0.3rem;
	line-height: 0.54rem;
}
.content_right .accessories section ul li span {
	float: left;
}
.content_right .accessories section ul li p {
	padding-left: 1.6rem;
}
.total_price {
	text-align: center;
	font-size:0.28rem;
	color:#333;
}
.total_price span {
	color:#f23030;
	font-size:0.36rem;
}

.bottom_fixed {
	position: fixed;
	left: 0;
	bottom: 0;
	background:#fff;
	width: 100%;
	padding:0.3rem 0;
	border-top: 1px solid #e5e5e5;

}
.lh54{
	line-height: 0.54rem;
}
.mb24{
margin-bottom: 0.24rem;
}
.title_content {
	font-size:0.3rem;
	color:#0780ec;
	position:relative;
	height: 0.86rem;
	line-height: 0.86rem;
}
.title_content .blue_line {
 width: 2px;
 height: 12px;
 position: absolute;
 left: 0.3rem;
 top:0.3rem;
 background:#0780ec;
 border-radius: 4px;
}
.title_content p {
	padding-left: 0.5rem;
}
.sand_And_water  section ul {
	// margin: 0;
} 
.col_red {
	color: #f23030;
}
.get_price li span:first-child {
	width: 2rem;
	display: inline-block;
}
.accessories section .get_price {
	// border: none;
	margin: 0;
}
.settlement_content {
	background:#fff;
	padding-left: 0.3rem;
}
.accessories section ul li.speacil_line {
	padding: 0;
	border-top: 1px solid #e5e5e5;
	margin-left: 0.3rem;
	margin-bottom: 0.2rem;

}
.accessories section ul li.speacil_line p:first-child{
	margin-top: 0.2rem;
}
.speacil_line {
	position: relative;
}
.font28{
	font-size:0.28rem;
}
.icon_arrowRight {
	background: url('../../images/arrow_right.png') no-repeat;
	width:0.16rem;
	height: 0.33rem;
	display:inline-block;
	background-size: 100%;
	vertical-align:middle;
}
.look_cont {
	position: absolute;
	right:0.3rem;
	top: 20px;
	color: #0780ec;
}
.look_cont a{
	color: #0780ec;
}
.SeePhotos {
	height: 0.6rem;
	line-height: 0.6rem;
	border-radius:30px;
	background: #ff9800;
	width:3.3rem;
	text-align: center;
	color:#fff;
	margin: 0.2rem auto 0;
}
.accessories section ul li.SeePhotos_cont {
	padding: 0;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-top: 1px solid #e5e5e5;
}
.SeePhotos a{
	color:#fff;
}
.retention table {
	width: 100%;
	text-align:center;
	line-height: 0.74rem;
}
.retention table caption {
	height: 0.86rem;
	background:#0780ec;
	width: 100%;
	text-align:center;
	line-height: 0.86rem;
	color:#fff;
}
.retention tr td:first-child{
	border-right: 1px solid #e6e6e6;
	width:55%;
}
.accessories section ul .seeBtn{top:.2rem;position: absolute;right: 0.3rem;color: #0780ec;}
.retention table tr:nth-child(odd) {background:#f6f6f6;}
.retention table tr:nth-child(even) {
	background:#ffffff;
}
.rela{position:relative;}
