.pad_top8{padding-top: .8rem;}
.col_blue1{color: #0780ec;}
.locate{text-align: center;margin-top: .18rem;margin-bottom: .21rem;}
.location-icon{display: inline-block;width: .34rem;height: .41rem;background: url(../images/location.png) no-repeat center center;
	background-size: .34rem .41rem;padding-right: .14rem;}
.font32{font-size: .32rem;}
.person{height: .78rem;line-height: .78rem;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding-left: .3rem;}
.must{color: #ff001e;font-size: .4rem;}
.star-p{height: .32rem;display: inline-block;}
.mar_ght52{margin-right: .52rem;}
.mar_btm46{margin-bottom: .46rem;}
.star1{
	display: inline-block;
    float: left;
    width: .32rem;
    height: inherit;
    margin-right: .38rem;
    height: inherit;
    background-image: url(../images/star11.png);
    background-size: .32rem .32rem;
}
.star2{
	display: inline-block;
    float: left;
    width: .32rem;
    height: inherit;
    margin-right: .38rem;
    height: inherit;
    background-image: url(../images/star22.png);
    background-size: .32rem .32rem;
}
.col_ff001e{color:#ff001e;}
.top-small{margin-top: .06rem;width:44%;text-align: right;}
.advise-area{width: 88%;margin: 0 auto;position: relative;}
.advise{width: 100%;height: 1rem;border: 1px solid #ccc;border-radius: 4px;font-size: .24rem;color: #999;
	line-height: 1.2em;resize: none;line-height: 1.2em;padding: .14rem;box-sizing: border-box;box-shadow:0px 2px 5px #999 inset;}
.limite{position: absolute;bottom: .1rem;right: .14rem;}
.pad_btm24{padding-bottom: .24rem;}
.mar_btm24{margin-bottom: .24rem;}
.one_btn{margin-bottom: 300px;}
.pt46{padding-top: .46rem;}
.pb50{padding-bottom: .5rem;}
.spanRgt30{width: 30%;text-align: right;}

.star-p span{cursor: pointer;}