.arrow_rgt{background-image: url(../images/rgt_bg.png);background-repeat: no-repeat;
    background-size: 0.16rem 0.29rem;background-position: 94% center;border-bottom: 1px dotted #ccc;
	display: block;}
.arrow_rgt p{padding-right: .3rem;}
.one_btn{display: block;width: 3.3rem;height: .58rem;line-height: .58rem;color: #fff;text-align: center;background: #ff9800;
	font-size: .28rem;border-radius: .29rem;margin: .36rem auto;}
.one_btn_grey{background: #ccc;float: left;
    width: 2.58rem;
    height: .58rem;
    line-height: .58rem;
    color: #fff;
    text-align: center;
    /* background: #ff9800; */
    font-size: .28rem;
    border-radius: .29rem;}
.sec:last-child{margin-bottom: 300px;}
.mar_btm24{margin-bottom: .24rem;}
.col_grey{color: #7f7f7f;}
.btn_wrapper{width: 5.7rem;padding-top: .3rem;padding-bottom: .2rem;margin: 0 auto;}
.two_btn1{float: left;width: 2.58rem;height: .58rem;line-height: .58rem;color: #fff;text-align: center;background: #ff9800;
	font-size: .28rem;border-radius: .29rem;}
.two_btn2{float: right;width: 2.58rem;height: .58rem;line-height: .58rem;color: #ff9800;text-align: center;background: #fff;
	font-size: .28rem;border-radius: .29rem;border: 1px solid #ff9800;box-sizing: border-box;}
.locate {
    text-align: center;
    height: .82rem;
    line-height: .82rem;
}
.locate1 {
    text-align: center;
    padding-top: .26rem;
    padding-bottom: .26rem;
}
.pad_top88{padding-top: .88rem;}
.spanRgt{width: 30%;text-align: right;}