/* 特殊约定 下划线「_***」的样式是不能单独使用的，它们都必须配合父亲，或者兄弟元素使用 */


/* 基础样式，放在最后 */

._fullwidth {
    width: 100%;
    text-align: center;
}

._disabled {
    cursor: not-allowed;
    opacity: .5;
    filter: alpha(opacity=50);
}

._ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

._ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

._block {
    display: block;
}

.circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/* text */

.text-white {
    color: #fff!important;
}

.text-primary {
    color: #c6aa76;
}

.text-grey {
    color: #999!important;
}

.text-default {
    color: #333!important;
}

.text-green {
    color: #00c800;
}

.text-blue {
    color: #1caceb;
}

.text-red {
    color: red;
}

.text-click {
    color: #c6aa76!important;
    border-color: #c6aa76!important;
}


/* color */

._dark {
    color: #33373d!important;
}

._gray {
    color: #9c9c9c!important;
}

._blue {
    color: #4284ed!important;
}

._green {
    color: #7ed321!important;
}

._orange {
    color: #f0643a!important;
}

._yellow {
    color: #ffb52a!important;
}

._purple {
    color: #a091ff!important;
}

._red {
    color: red!important;
}

._white {
    color: #fff!important;
}

._bg-grey {
    background: #f0f2f5;
}

._c666 {
    color: #666!important;
}

._color-2896f8 {
    color: #2896f8;
}


/* border */

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-top0 {
    border-top: 0!important;
}


/* text-align */

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right;
}


/* space */

.space-10 {
    height: .13333rem;
}

.space-20 {
    height: .26667rem;
    background: #f0f2f5;
}

.space-30 {
    height: .3rem;
}

.text-space span {
    margin-left: .26667rem;
    margin-right: .26667rem;
}


/* Show Modle */

.hidden {
    visibility: hidden!important;
}

.show {
    visibility: visible!important;
}

.disB {
    display: block!important;
}

.disN {
    display: none!important;
}

.disIB {
    display: inline-block!important;
}


/* Background */

.bg-grey {
    background: #aaa;
}

.bg-primary {
    background: #c6aa76;
}

[v-cloak] {
    display: none;
}