.g_info{
	width: 100%;
	height: 100%;
	background-color: #eee;
}
.g_info .top{
	width: 100%;
	height: 2.98rem;
	background-image: url(../images/info_title.png);
	background-size: 100% 100%;
}
.g_info .user_info{
	width: 100%;
	height: 1.3rem;
	position: relative;
}
.g_info .user_info img{
	position: absolute;
	left: 3.12rem;
	top: -0.84rem;
	width: 1.28rem;
	height: 1.28rem;
}
.g_info .user_info > span{
	position: absolute;
	top: 0.52rem;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.g_info .user_info span.user_name{
	font-size: 0.24rem;
	color: #333;
}
.g_info .user_info .star{
	position: absolute;
	width: 1.55rem;
	height: 0.22rem;
	top: 1rem;
	left: 2.97rem;
	clear: both;
	text-align: center;
}
.g_info .user_info .star span{
	display: inline-block;
	float: left;
	width: 0.24rem;
	margin-left: 0.07rem;
	height: inherit;
	background-image: url(../images/star1.png);
	background-size: 0.24rem 0.22rem;
}
.g_info .user_info .star span:first-child{
	margin-left: 0;
}
.g_info .user_info .star span.bling{
	background-image: url(../images/star2.png);
}
.g_info nav.info_nav{
	width: 100%;
	height: 0.96rem;
	margin-top: 0.14rem;
	background-color: #fff;
}
.g_info nav.info_nav a{
	float: left;
	width: 33.3%;
	height: 0.6rem;
	margin-top: 0.18rem;
	text-align: center;
	font-size: 0.26rem;
	box-sizing: border-box;
}
.g_info nav.info_nav a:nth-child(2){
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.g_info nav.info_nav a span.number{
	display: block;
	color: #cc6633;
	font-size: 0.32rem;
	font-weight: bold;
	/*margin-top: -0.13rem;*/
}
.g_info nav.info_nav a span.explain{
	color: #999;
	/*margin-top: 0.13rem;*/
}
.g_info ul.info_ul{
	width: 100%;
	margin-top: 0.2rem;
	background-color: #fff;
}
.g_info ul.info_ul li{
	height: 0.88rem;
}
.g_info ul.info_ul li a{
	float: left;
    margin-left: 12%;
    width: 88%;
    height: inherit;
    line-height: 0.88rem;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-image: url(../images/rightArrow.png);
    background-repeat: no-repeat;
    background-size: 0.14rem 0.26rem;
    background-position: 94% center;
    font-size: 0.28rem;
    color: #333;
}
.g_info ul.info_ul li:last-child a {
	border: none;
}
/*项目经理端首页*/
.g_info ul.info_ul li:first-child{
	background-image: url(../images/order.png);
	background-repeat: no-repeat;
	background-size: 0.32rem 0.32rem;
	background-position: 0.3rem center;
}
.g_info ul.info_ul li:nth-child(2){
	background-image: url(../images/progess.png);
	background-repeat: no-repeat;
	background-size: 0.32rem 0.32rem;
	background-position: 0.3rem center;
}
.g_info ul.info_ul li:nth-child(3){
	background-image: url(../images/mete_icon.png);
	background-repeat: no-repeat;
	background-size: 0.32rem 0.32rem;
	background-position: 0.3rem center;
}

.g_info ul.info_ul li:nth-child(4){
	background-image: url(../images/task.png);
	background-repeat: no-repeat;
	background-size: 0.32rem 0.32rem;
	background-position: 0.3rem center;
}
/*
.g_info ul.info_ul li:nth-child(5){
	background-image: url(../images/qulity_icon.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_info ul.info_ul li:nth-child(6){
	background-image: url(../images/method_icon.png);
	background-repeat: no-repeat;
	background-size: 0.32rem 0.32rem;
	background-position: 0.3rem center;
}
}*/
/*申请约检*/
/*.g_quality ul.info_ul li:first-child{
	background-image: url(../images/qulity_icon1.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_quality ul.info_ul li:nth-child(2){
	background-image: url(../images/qulity_icon2.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_quality ul.info_ul li:nth-child(3){
	background-image: url(../images/qulity_icon3.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_quality ul.info_ul li:nth-child(4){
	background-image: url(../images/qulity_icon4.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}*/
/*费用管理*/
/*.g_cost ul.info_ul li:first-child{
	background-image: url(../images/acount1.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_cost ul.info_ul li:nth-child(2){
	background-image: url(../images/acount2.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_cost ul.info_ul li:nth-child(3){
	background-image: url(../images/acount3.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_cost ul.info_ul li:nth-child(4){
	background-image: url(../images/acount4.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
.g_cost ul.info_ul li:nth-child(5){
	background-image: url(../images/acount5.png);
	background-repeat: no-repeat;
	background-size: 0.3rem 0.32rem;
	background-position: 0.3rem center;
}
*/