header{width: 100%;height: .9rem;background: #09f;position: fixed;z-index: 2;}
h2.title{text-align: center;color: #fff;font-size: 0.34rem;height: inherit;line-height: .9rem;}
.of_nav{position: fixed;top: 1.1rem;width: 100%;background: #fff;text-align: center;padding: .32rem 0;z-index: 2;}
.of_btn{float: left;width: 33.3%;height: 1.36rem;}
.of_btn i{display: block;width: .8rem;height: .8rem;margin: 0 auto .28rem;}
.of_btn i img{width: 100%;}
.home_ul{position: absolute;top: 3.3rem;background: #fff;width: 100%;margin-bottom: 200px;}
.home_ul li{width: 100%;}
.list_a{
	float: left;
    margin-left: 12%;
    width: 88%;
    height: inherit;
    line-height: 0.88rem;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-image: url(../images/rightArrow.png);
    background-repeat: no-repeat;
    background-size: 0.14rem 0.26rem;
    background-position: 94% center;
}
.home_ul li:last-child a {
    border: none;
}
/*home_page*/
.mete{
	background-image: url(../images/0mete_icon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
}
.progess{
	background-image: url(../images/0forward.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
}
.forward{
	background-image: url(../images/0progess_icon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
}
.task{
	background-image: url(../images/0task_icon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
}
.qulity{
	background-image: url(../images/0qulity_icon.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.change{
	background-image: url(../images/0change_icon.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.anzhuang{
	background-image: url(../images/0anzhuang_icon.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.problem{
	background-image: url(../images/0problem_icon.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.cost{
	background-image: url(../images/0cost_icon.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.return{
	background-image: url(../images/fandan.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.complain{
	background-image: url(../images/complain.png);
    background-repeat: no-repeat;
    background-size: 0.3rem 0.32rem;
    background-position: 0.3rem center;
}
.g-info footer{
	width: 100%;
	/*height: .96rem;*/
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #d1d1d1;
}
.footer_btn{
	float: left;
	/* width: 33.3%; */
	width: 25%;
	text-align: center;
	font-size: .2rem;
	color: #666;
	padding-top: .64rem;
	padding-bottom: .12rem;
}
.home_btn{background: url(../images/home_icon0.png) no-repeat 50% .14rem/.42rem .42rem}
a.queue_btn{background: url(../images/queue2.png) no-repeat 50% .14rem/.42rem .42rem}
.msg_btn{background: url(../images/msg_icon0.png) no-repeat 50% .14rem/.46rem .43rem}
.mine_btn{background: url(../images/mine_icon0.png) no-repeat 50% .14rem/.39rem .42rem}

a.home_btn.active{background: url(../images/home_icon1.png) no-repeat 50% .14rem/.42rem .42rem}
a.queue_btn.active{background: url(../images/queue1.png) no-repeat 50% .14rem/.42rem .42rem}
a.msg_btn.active{background: url(../images/msg_icon1.png) no-repeat 50% .14rem/.46rem .43rem}
a.mine_btn.active{background: url(../images/mine_icon1.png) no-repeat 50% .14rem/.39rem .42rem}
.g-info footer a.active{color:#0780ec;}


.mine_sec .top{
	width: 100%;
	height: 2.98rem;
	background-image: url(../images/info_title.png);
	background-size: 100% 100%;
}
.mine_sec .user_info{
	width: 100%;
	height: 1.3rem;
	position: relative;
}
.mine_sec .user_info img{
	position: absolute;
	left: 3.12rem;
	top: -0.84rem;
	width: 1.28rem;
	height: 1.28rem;
}
.mine_sec .user_info > span{
	position: absolute;
	top: 0.52rem;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.mine_sec .user_info span.user_name{
	font-size: 0.24rem;
	color: #333;
}
.mine_sec .user_info .star{
	position: absolute;
	width: 1.55rem;
	height: 0.22rem;
	top: 1rem;
	left: 2.97rem;
	clear: both;
	text-align: center;
}
.mine_sec .user_info .star span{
	display: inline-block;
	float: left;
	width: 0.24rem;
	margin-left: 0.07rem;
	height: inherit;
	background-image: url(../images/star1.png);
	background-size: 0.24rem 0.22rem;
}
.mine_sec .user_info .star span:first-child{
	margin-left: 0;
}
.mine_sec .user_info .star span.bling{
	background-image: url(../images/star2.png);
}
.mine_sec nav.info_nav{
	width: 100%;
	height: 0.96rem;
	margin-top: 0.14rem;
	background-color: #fff;
}
.mine_sec nav.info_nav a{
	float: left;
	width: 33.3%;
	height: 0.6rem;
	margin-top: 0.18rem;
	text-align: center;
	font-size: 0.26rem;
	box-sizing: border-box;
}
.mine_sec nav.info_nav a:nth-child(2){
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.mine_sec nav.info_nav a span.number{
	display: block;
	color: #cc6633;
	font-size: 0.32rem;
	font-weight: bold;
}
.mine_sec nav.info_nav a span.explain{color: #999;}
.info_ul{width: 100%;margin-top: 0.2rem;background-color: #fff;}
.info_ul li{height: 0.88rem;}
.home_ul li:last-child{margin-bottom: 100px;}
.task_sec .home_ul li:last-child{margin-bottom: 0;}
.info_ul li:last-child a{border: none;}
/*mine_page*/
/* .info_ul li:first-child{
	background-image: url(../images/0self_icon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
}
.info_ul li:nth-child(2){
	background-image: url(../images/0order_icon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
}
.info_ul li:nth-child(3){
	background-image: url(../images/0method_icon.png);
    background-repeat: no-repeat;
    background-size: 0.32rem 0.32rem;
    background-position: 0.3rem center;
} */
/*.home_sec{display: block;}
.msg_sec{display: none;}
.mine_sec{display: none;}*/
.col_0780ec{color:#0780ec;}
.quit{display:block;line-height:.78rem;text-align:center;background:#fff;margin-top:.8rem;}

/* mask */
.alertDialog{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);font-size: 0.24rem;color: #fff;text-align: center;z-index:9;}
.tip-wrap{display:inline-block;width:84.4%;background:#fff;border-radius:.1rem;margin-top:45%;}
.tip-tit{font-size:.3rem;color:#333;text-align:center;line-height:1rem;border-bottom:1px solid #ddd;}
.tip-content{padding:.62rem .66rem;font-size:.28rem;color:#666;line-height:1.2em;}
.tip-btn{font-size:.28rem;color:#0780ec;float:left;width:50%;text-align:center;line-height:1rem;border-top:1px solid #ddd;}
.bor_rgt{box-sizing: border-box;border-right: 1px solid #ddd;}
