.zone{position: absolute;top: 1rem;width: 100%;background: #fff;}



.funs{padding-left: .3rem;height: .78rem;line-height: .78rem;background: #fff;font-size: .28rem;position: relative;margin-bottom: .2rem;}
.up{width: .6rem;float: left;height: .6rem;position: relative;overflow: hidden;margin-top: .09rem;margin-left: .3rem;}
.up img{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.up input{opacity: 0;width: 100%;font-size: 100px;position: absolute;top: 0;left: 0;}
.wtc_btn{
    display: block;
    position: absolute;
    right: .2rem;
    top: 0;
    width: 1.5rem;
    height: .86rem;
    line-height: .86rem;
    text-align: center;
    font-size: .24rem;
    color: #0780ec;
    padding-right: .2rem;
    background-image: url(../images/rightArrow.png);
    background-repeat: no-repeat;
    background-size: .16rem .29rem;
    background-position: right center;
}
.col{
	font-size: .28rem;
	color: #666;
	float: left;
}
input.goods_date{
    border: none;
    border: 1px solid #fff;
    width: 2.2rem;
    line-height: .38rem;
    padding: .2rem;
    padding-left: 0;
    background-image: url(../images/canlender.png);
    background-repeat: no-repeat;
    background-size: .3rem .32rem;
    background-position: 1.66rem center;
    color: #999;
    font-size: .24rem;
}
.align_rgt{text-align: right;}
.show_sec{padding-top: 3rem;margin-bottom: 5rem;}
.item{
	width: 100%;
	height: 2.6rem;
	background: #fff;
	margin-top: .2rem;
	position: relative;
}
.img_container{
	width: 2rem;
	height: 2rem;
	padding-top: .32rem;
	margin-left: .25rem;
	float: left;
}
.img_container img{
	width: 100%;
}
p{
	margin-left: 2.44rem;
}
p.brand{
	font-size: .28rem;
	color: #333;
	padding-top: .2rem;
}
p.format{
	font-size: .24rem;
	color: #666;
	padding-top: .16rem;
	padding-bottom: .14rem;
}
p.price{color: #666;font-size: .24rem;}
.col_red{
	color: #f00;
}
/*shopcount样式*/
.shopcount{
	position: absolute;
    bottom: .3rem;
    left: 2.44rem;
	height: .46rem;
	box-sizing: border-box;
	border: 1px solid #9cccf7;
}
.shopcount a{
	display: block;
	float: left;
	width: .5rem;
	height: .46rem;
	position: relative;
	box-sizing: border-box;
}
.shopcount a.reduce:after{
	content: ' ';
	display: inline-block;
	width: 0.22rem;
	height: 0.04rem;
	background: #333;
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
}
.shopcount a.plus:before, .shopcount a.plus:after{
	content: ' ';
	display: inline-block;
	width: 0.04rem;
	height: 0.22rem;
	background: #333;	
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
}
.shopcount a.plus:after{width: 0.22rem;height: 0.04rem;}
.shopcount input{width: 1.06rem;height: 100%;text-align: center;font-size: .28rem;float: left;box-sizing: border-box;border: 0; border-left: 1px solid #9cccf7;border-right: 1px solid #9cccf7;border-radius: 0;padding: 0;margin: 0;color: #f00;}
footer{
    width: 100%;
    height: .94rem;
    background: #fdfdfd;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
}
.goods{width: 100%;height: inherit;;line-height: .94rem;font-size: .28rem;color: #666;}
.choose_btn {
    display: block;
    width: 2.26rem;
    height: inherit;
    line-height: .94rem;
    background: #f00;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
/*照片弹出层*/
.mask{width: 100%;height: 100%;overflow: auto;background: rgba(0,0,0,.2);position: fixed;top: 0;left: 0;}
.mask1{z-index: 10;}
.pic_container{margin-top: 1.4rem;background: #eee;padding: .4rem .1rem;}
.pic_wraper{width: 32%;float: left;padding: 0;position: relative;overflow: hidden;margin-right: 2%;font-size: 0;}
.pic_wraper:nth-of-type(3n){margin-right: 0;}
.pic_wraper img{width: 100%;height: 3rem;}
.del_btn{
	display: block;
    font-size: .28rem;
    color: #0780ec;
    margin: .2rem auto;
    line-height: .42rem;
    width: 46%;
    text-align: center;
    border: 1px solid #0780ec;
}
.back{
    display: block;
    width: 100%;
    height: .94rem;
    line-height: .94rem;
    background: #0780ec;
    font-size: .28rem;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
}
/*查看大图*/
.mask2{z-index: 11;background: rgba(0,0,0,.7);}
.big_pic_wraper{width: 80%;height: 80%;margin: 10% auto;}
.big_pic_wraper img{width: 100%;}


/*收货详情页面*/
.flo_left{float: left;}
.hgt64{height: .64rem;line-height: .64rem;}
.mar_left3{margin-left: .3rem;}
.font30{font-size: .3rem;}
.col3{color: #333;}
.zone_rgt{float: left;overflow: hidden;}
.hgt64 p{margin-left: 0;}
.goods_btn{
    color: #fff;
    float: left;
    width: 1.8rem;
    font-size: .28rem;
    background: #0780ec;
    text-align: center;
    height: .64rem;
    line-height: .64rem;
    border-radius: 0.1rem;
    position: absolute;
    top: .32rem;
    right: .3rem;
}
.get{font-size: .26rem;color: #333;margin-top: .36rem;}
.pad_top24{padding-top: 2.4rem;}



/*申请复检详情*/
.content{position: relative;padding: .3rem;padding-right: .84rem;background: #fff;border-bottom: 1px solid #ccc;line-height: 1.3em;font-size: .28rem;color: #666;}
.content:first-child{margin-top: .2rem;}
.content:last-child{border: none;}
.sub_content{width: 100%;height: .86rem;background: #0780ec;position: fixed;bottom: 0;}
.sub_btn{
    display: block;
    width: 100%;
    height: inherit;
    line-height: .86rem;
    color: #fff;
    font-size: .28rem;
    text-align: center;
}


.qual{position: absolute;right: .3rem;color: #0789ec;}