.under{position: absolute;top: .8rem;width: 100%;box-sizing: border-box;}
.intro{padding: .3rem;border-bottom: 1px solid #ccc;}
/*.details{padding: .3rem;}
.line_hgt_em{line-height: 1.5em;}
.indent{text-indent: 2em;}
.align_rgt{text-align: right;}*/