.btns {
    width: 6rem;
    margin: .2rem auto .3rem;
}
.btn {
    font-size: 0.28rem;
    color: #fff;
    display: inline-block;
    width: 2.8rem;
    height: 0.76rem;
    line-height: 0.76rem;
    border-radius: 0.1rem;
    background-color: #0780ec;
    text-align: center;
    margin: 0 auto;
}
.btn:first-child{float: left}
.btn:last-child{float: right;}